@font-face {
	font-family: 'Conv_avenir-lt-std-35-light-58e2354db6ab6';
	src: url('../fonts/avenir-lt-std-35-light-58e2354db6ab6.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-35-light-58e2354db6ab6.woff') format('woff'), url('../fonts/avenir-lt-std-35-light-58e2354db6ab6.ttf') format('truetype'), url('../fonts/avenir-lt-std-35-light-58e2354db6ab6.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avenir-lt-std-55-roman-591e80319e338';
	src: url('../fonts/avenir-lt-std-55-roman-591e80319e338.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-55-roman-591e80319e338.woff') format('woff'), url('../fonts/avenir-lt-std-55-roman-591e80319e338.ttf') format('truetype'), url('../fonts/avenir-lt-std-55-roman-591e80319e338.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avenir-lt-std-65-medium-58e2359bb64f1';
	src: url('../fonts/avenir-lt-std-65-medium-58e2359bb64f1.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-65-medium-58e2359bb64f1.woff') format('woff'), url('../fonts/avenir-lt-std-65-medium-58e2359bb64f1.ttf') format('truetype'), url('../fonts/avenir-lt-std-65-medium-58e2359bb64f1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avenir-lt-std-85-heavy-591ea5d5149dd';
	src: url('../fonts/avenir-lt-std-85-heavy-591ea5d5149dd.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-85-heavy-591ea5d5149dd.woff') format('woff'), url('../fonts/avenir-lt-std-85-heavy-591ea5d5149dd.ttf') format('truetype'), url('../fonts/avenir-lt-std-85-heavy-591ea5d5149dd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avenir-lt-std-95-black-591e927f84f9a';
	src: url('../fonts/avenir-lt-std-95-black-591e927f84f9a.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-95-black-591e927f84f9a.woff') format('woff'), url('../fonts/avenir-lt-std-95-black-591e927f84f9a.ttf') format('truetype'), url('../fonts/avenir-lt-std-95-black-591e927f84f9a.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_TrajanPro-Regular';
	src: url('../fonts/TrajanPro-Regular.eot');
	src: local('☺'), url('../fonts/TrajanPro-Regular.woff') format('woff'), url('../fonts/TrajanPro-Regular.ttf') format('truetype'), url('../fonts/TrajanPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_TrajanPro-Bold';
	src: url('../fonts/TrajanPro-Bold.eot');
	src: local('☺'), url('../fonts/TrajanPro-Bold.woff') format('woff'), url('../fonts/TrajanPro-Bold.ttf') format('truetype'), url('../fonts/TrajanPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Tahoma';
	src: url('../fonts/Tahoma.eot');
	src: local('☺'), url('../fonts/Tahoma.woff') format('woff'), url('../fonts/Tahoma.ttf') format('truetype'), url('../fonts/Tahoma.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Tahoma Bold';
	src: url('../fonts/Tahoma Bold.eot');
	src: local('☺'), url('../fonts/Tahoma Bold.woff') format('woff'), url('../fonts/Tahoma Bold.ttf') format('truetype'), url('../fonts/Tahoma Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_avenir-lt-std-45-book-591e8cbf5dcf3';
	src: url('../fonts/avenir-lt-std-45-book-591e8cbf5dcf3.eot');
	src: local('☺'), url('../fonts/avenir-lt-std-45-book-591e8cbf5dcf3.woff') format('woff'), url('../fonts/avenir-lt-std-45-book-591e8cbf5dcf3.ttf') format('truetype'), url('../fonts/avenir-lt-std-45-book-591e8cbf5dcf3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}